services:
  jenkins:
    image: jenkins/jenkins:lts
    container_name: jenkins
    restart: unless-stopped
    user: root
    ports:
      - "8080:8080"
      - "50000:50000"
    environment:
      JENKINS_OPTS: "--argumentsRealm.passwd.${JENKINS_USER}=${JENKINS_PASS} --argumentsRealm.roles.${JENKINS_USER}=admin"
    volumes:
      - ./jenkins_data:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
      - /home/jeanverso/infra/vault:/home/jeanverso/infra/vault
      - /mnt/data/hdd/nas_backups:/mnt/data/hdd/nas_backups